<%= form_with url: new_story_path, method: :get, class: "" do |f| %>
    <%= f.label :input, 'Input 1 word' %>
    <%= f.text_field :input, class: "" %>

    <%= f.submit "Search", class: ""%>
<% end %>

<%= @text %>

<%= form_with model: @story, class: "" do |f| %>
  <%= f.fields_for :questions do |sf| %>
    <%= sf.hidden_field :content %>
  <% end %>

  <ul>
    <li>
      <div>
        <%= f.label :one, @questions[0] %>
        <%= f.text_field :one %>
      </div>
    </li>

    <li>
      <div>
        <%= f.label :two, @questions[1] %>
        <%= f.text_field :two %>
      </div>
    </li>

    <li>
      <div>
        <%= f.label :three, @questions[2] %>
        <%= f.text_field :three %>
      </div>
    </li>
  </ul>

  <%= f.hidden_field :title, value: params[:input]%>
  <%= f.hidden_field :content, value: @text %>

  <%= f.submit "Submit Answers", class: ""%>
<% end %>

<%= link_to "home", root_path %>