<section class="main">
  <div class="box">
    <h1 class='title'>Let's make a story!</h1>

    <%= form_with url: new_story_path, method: :get, class: "" do |f| %>
        <%= f.text_field :input, placeholder: "Type one word!", class: "input" %>
    
        <%= f.submit "Create!", class: "button"%>
    <% end %>
    
    <div class="story-box"><p class='story'><%= @text %></p></div>
    
    <% if defined?(@questions) %>
      <div class="q-and-a">
        <ol class='questions'>
          <li class='question'><%= @questions[0] %></li>
          <li class='question'><%= @questions[1] %></li>
          <li class='question'><%= @questions[2] %></li>
          <%# This is required so that its not Nil %>
          <li class='question'>     </li>
        </ol>
        
        <%= form_with model: @story, class: "answers" do |f| %>
          <%= f.fields_for :questions do |sf| %>
            <%= sf.hidden_field :content %>
            <%= sf.text_field :answer, placeholder: 'Write your answer here!', class: "answer" %>
          <% end %>
        
          <%= f.hidden_field :title, value: params[:input]%>
          <%= f.hidden_field :content, value: @text %>
        
          <%= f.submit "Submit Answers", class: "button"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= image_tag('hamster.png', class: 'new-hamster') %>
</section>

<br><br>

<%= @json %>