<%= form_with url: new_story_path, method: :get, class: "" do |f| %>
    <%= f.label :input, 'Input 1 word' %>
    <%= f.text_field :input, class: "" %>

    <%= f.submit "Search", class: ""%>
<% end %>

<br><br>

<%= @text %>
<%= @quiz %>

<ul>
  <% @questions.each do |v| %>
    <li><%= v %></li>
  <% end %>
</ul>

<%= form_with model: @story, class: "" do |f| %>
  <%# Make a nested form so that it also creates 3 questions %>

  <%= f.fields_for :questions do |sf| %>
    <%= sf.hidden_field :content %>
  <% end %>

  <%= f.label :one, @questions[0] %>
  <%= f.label :two, @questions[1] %>
  <%= f.label :three, @questions[2] %>

  <%= f.hidden_field :title, value: params[:input]%>
  <%= f.hidden_field :content, value: @text %>

  <%= f.submit "Submit Answers", class: ""%>
<% end %>

<%= link_to "home", root_path %>