<%= form_with url: new_story_path, method: :get, class: "" do |f| %>
    <%= f.label :input, 'Input 1 word' %>
    <%= f.text_field :input, class: "" %>

    <%= f.submit "Search", class: ""%>
<% end %>

<br><br>

<%= @text %>

<br><br>

<ol>
  <li><%= @questions[0] %></li>
  <li><%= @questions[1] %></li>
  <li><%= @questions[2] %></li>
</ol>

<br><br>

<%= form_with model: @story, class: "" do |f| %>
  <%= f.fields_for :questions do |sf| %>
    <%= sf.hidden_field :content %>
    <%= sf.text_field :answer %>
  <% end %>

  <%= f.hidden_field :title, value: params[:input]%>
  <%= f.hidden_field :content, value: @text %>

  <%= f.submit "Submit Answers", class: ""%>
<% end %>

<%= link_to "home", root_path %>

<br><br>

<%= @json %>