<!DOCTYPE html>
<html>
  <head>
    <title>ChatgptHomework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id='navbar'>
      <h1 id='nav-title'>AI Story Time</h1>
      <ul id='nav-links'>
        <li class='nav-link'>Log in</li>
        <li class='nav-link'>View all stories</li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
